/* Paleta de colores:
   https://coolors.co/ed6a5a-f4f1bb-9bc1bc-5d576b-e6ebe0   
*/

$background: #F4F1BB;
$rojo: #ED6A5A;
$verde-obscuro: #3d5912;
$verde-azulado:#9BC1BC;
$colorBtn:#5D576B;
$negro: black;