@mixin efectosBotonFormulario($colorBackground, $width ) {
    background: $colorBackground;
    width: $width;
}

@mixin estructuraFlex( $flexDirection, $justifyContent, $alignItems) {    
    display: flex;
    flex-direction:$flexDirection;  
    justify-content: $justifyContent; 
    align-items: $alignItems;
}

@mixin estructuraGrid ($templateColumns, $rowGap, $columnGap) {    
    display: grid;
    grid-template-columns: $templateColumns ;
    grid-row-gap: $rowGap;
    grid-column-gap: $columnGap;
}